<?xml version="1.0" ?>
<config>
    <modules>
        <Snoobi_Snoobi>
            <version>1.0.0</version>
        </Snoobi_Snoobi>
    </modules>
    <global>
        <helpers>
            <snoobi>
                <class>Snoobi_Snoobi_Helper</class>
            </snoobi>
        </helpers>
        <models>
            <snoobi>
                <class>Snoobi_Snoobi_Model</class>
            </snoobi>
        </models>
        <blocks>
            <snoobi>
                <class>Snoobi_Snoobi_Block</class>
            </snoobi>
        </blocks>
    </global>
    <frontend>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <snoobi_order_success>
                        <class>snoobi/observer</class>
                        <method>setSnoobiOnOrderSuccessPageView</method>
                    </snoobi_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <snoobi_order_success>
                        <class>snoobi/observer</class>
                        <method>setSnoobiOnOrderSuccessPageView</method>
                    </snoobi_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
        <layout>
            <updates>
                <snoobi>
                    <file>snoobi/snoobi.xml</file>
                </snoobi>
            </updates>
        </layout>
    </frontend>
</config>
